.donate-wrap.svelte-a5zki5{padding:var(--spacing-f4);overflow:hidden}.donate-btn.svelte-a5zki5{display:grid;grid-template-columns:1fr auto auto auto 1fr;align-items:center;justify-content:center;gap:var(--spacing)}
